<div *ngIf="songArray.length > 0" class="song-search__container">
  <div *ngFor="let song of songArray" class="song-search__song-row">
    <img
      (click)="playSong(song)"
      class="song-row__song"
      src="{{ song.image[2].url }}"
    />
    <div class="song-row__info">  
      <div class="song-row__info-details">
        <h2>{{ song.name }}</h2>
        <p>{{ song.primaryArtists | slice : 0 : 20 }}</p>
      </div>
      <div class="song-row__info-duration">
        <p>{{ song.duration | secondsToMinute }}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="songArray.length <= 0" class="song-search__container-img">
  <img
    src="../../../assets/images/Background2.jpg"
    alt="song-search-background"
  />
</div>
