.navbar {
  display: flex;
  align-items: center;
  gap: 6rem;
  font-size: 16px;
  line-height: 25px;
  padding: 2rem;
  margin-left: 1rem;

  .navbar-links {
    ul {
      display: flex;
      gap: 2rem;

      a {
        color: #e5dddd;
        font-weight: 500;
      }
    }
  }

  .navbar-search {
    display: flex;
    min-width: 10rem;
    width: 25rem;
    height: 4rem;
    background: #2c0000;
    border-radius: 4rem;

    input {
      padding: 1rem;
      width: 80%;
      background: transparent;
      border: none;
      margin-left: 17px;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
      color: #f6f6f6;

      &:focus {
        outline: none;
        &::placeholder {
          color: #e5dddd;
        }
      }
    }

    button {
      position: relative;
      text-align: end;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    margin-inline: 1rem;
    gap: 2rem;

    .navbar-links {
      ul {
        gap: 0.75rem;
      }
    }

    .navbar-search {
      margin-inline: 0.5rem;
      button {
        margin-right: 1rem;
      }
    }
  }

  @media (max-width: 480px) {
    gap: 0.25rem;

    .navbar-links {
      ul {
        display: none;
      }
    }
    .navbar-search {
      button {
        margin-right: 1rem;
      }
    }
  }
}
