<div class="player-container">
  <h5>Now Playing</h5>
  <img
    id="player-song-img"
    src="../../../assets/images/Background2.jpg"
    alt="Search for a Song"
    #imagePoster
  />
  <h2 #songName></h2>
  <h4 #artistName></h4>
  <audio #audioPlayer controls>
    <source src="" type="audio/mp4" />
  </audio>
  <div class="player-controls">
    <button (click)="pauseSong()">
      <fa-icon [icon]="faPause"></fa-icon>
    </button>
    <button (click)="playSong()">
      <fa-icon [icon]="faPlay"></fa-icon>
    </button>
    <button id="stopButton" (click)="stopSong()">
      <fa-icon [icon]="faStop"></fa-icon>
    </button>
    <button
      [ngStyle]="{ color: liked ? 'green' : 'white' }"
      id="likeButton"
      (click)="addToCollection()"
    >
      <fa-icon [icon]="faHeart"></fa-icon>
    </button>
  </div>
</div>
