.home-container {
  color: #f6f6f6;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
  gap: 2rem;

  .home-trending-songs__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .home-trending-songs__bar {
      display: flex;
      justify-content: space-between;
    }

    .home-trending-songs__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      .home-trending-songs__card {
        img {
          width: 100%;
          max-width: 100%;
          border-radius: 1rem;
          transition: transform 0.2s ease-in;

          &:hover {
            cursor: pointer;
            // filter: blur(1px);
          }

          &:active {
            transform: scale(0.9);
          }
        }

        #songPlayButton {
          display: none;
        }

        .home-trending-songs__detail {
          margin-top: 1rem;
          .home-trending-songs__song {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
          }
          .home-trending-songs__artist {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
          }
        }
      }
    }
  }

  .home-trending-albums__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 768px) {
    }

    .home-trending-albums__bar {
      display: flex;
      justify-content: space-between;
    }

    .home-trending-albums__content {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1rem;

      @media (min-width: 481px) and (max-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 480px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 320px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .home-trending-albums__card {
        align-self: center;
        img {
          // width: 100%;
          max-width: 100%;
          border-radius: 1rem;
        }

        .home-trending-albums__detail {
          .home-trending-albums__album {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
          }
        }
      }
    }
  }
}
