<div class="sidebar-container">
  <div class="sidebar-notifications">
    <div class="sidebar-notifications__bar">
      <div>Notifications</div>
      <div>...</div>
    </div>
    <div class="sidebar-notifications__content">
      <div class="sidebar-notifications_content-card">
        <img src="../../../assets/images/NotificationPlaylist.png" />
      </div>
      <div class="sidebar-notifications_content-detail">
        <p class="feature">Playlist Added</p>
        <p class="info">200 songs</p>
      </div>
      <div class="sidebar-notifications_content-card">
        <img src="../../../assets/images/NotificationPlaylist.png" />
      </div>
      <div class="sidebar-notifications_content-detail">
        <p class="feature">Playlist Shared</p>
        <p class="info">To 8 users</p>
      </div>
      <div class="sidebar-notifications_content-card">
        <img src="../../../assets/images/NotificationMusic.png" />
      </div>
      <div class="sidebar-notifications_content-detail">
        <p class="feature">New Music</p>
        <p class="info">Beat It - Michael Jackson</p>
      </div>
    </div>
  </div>
  <div class="sidebar-playlists">
    <div class="sidebar-playlists__bar">
      <div>Recent Playlists</div>
      <div>...</div>
    </div>
    <div class="sidebar-playlists__content">
      <div class="sidebar-playlists__cards">
        <img src="../../../assets/images/Playlist1.png" />
        <p>Doing the H...</p>
      </div>
      <div class="sidebar-playlists__cards">
        <img src="../../../assets/images/Playlist2.png" />
        <p>To Relax</p>
      </div>
      <div class="sidebar-playlists__cards">
        <img src="../../../assets/images/Playlist3.png" />
        <p>Pop World</p>
      </div>
      <div class="sidebar-playlists__cards">
        <img src="../../../assets/images/Playlist4.png" />
        <p>Electric Pop</p>
      </div>
      <div class="sidebar-playlists__cards">
        <img src="../../../assets/images/Playlist5.png" />
        <p>Summer</p>
      </div>
      <div class="sidebar-playlists__cards">
        <img src="../../../assets/images/Playlist6.png" />
        <p>Sounds of the...</p>
      </div>
    </div>
  </div>
  <!-- <div class="sidebar-player">
    <app-player [songDataUpdate]="songDataUpdate"></app-player>
  </div> -->
</div>
