.sidebar-container {
  color: #f6f6f6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: 1rem;

  .sidebar-notifications {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .sidebar-notifications__bar {
      display: flex;
      justify-content: space-between;
    }

    .sidebar-notifications__content {
      display: grid;
      grid-template-columns: (auto 3fr);
      gap: 1rem;

      .sidebar-notifications_content-card {
        width: 54px;
        height: 54px;
        background: #631a1a;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .sidebar-notifications_content-detail {
        .feature {
          font-weight: 500;
          font-size: 14px;
          line-height: 27px;
        }

        .info {
          font-weight: 400;
          font-size: 12px;
          line-height: 21px;
        }
      }
    }
  }

  .sidebar-playlists {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .sidebar-playlists__bar {
      display: flex;
      justify-content: space-between;
    }

    .sidebar-playlists__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;

      // @media (max-width: 767px) {
      //   grid-template-columns: repeat(2, 1fr);
      // }

      .sidebar-playlists__cards {
        img {
          width: 64px;
          height: 64px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}
