<div class="menubar-container">
  <div class="menubar-logo">
    <div class="menubar-logo__icon">
      <img src="../../../assets/images/MainPlayerLogo.png" />
    </div>
    <div class="menubar-logo__name"><span>Yuki</span>Music</div>
  </div>
  <div class="menubar-options">
    <div class="menubar-options__menuitem">
      <ul>
        <li class="menubar-options__menuitem__group">Menu</li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/MenuHome.png" /><span
            (click)="homeroute()"
            >Home</span
          >
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/MenuLibrary.png" /><span
            (click)="songroute()"
            >Songs</span
          >
        </li>

        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/DiscoverDailyMix.png " /><span
            (click)="albumroute()"
            >LikedSongs</span
          >
          <!-- Making this the LikedSongs for now -->
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/DiscoverPlaylists.png" /><span
            (click)="playlistroute()"
            >Playlists</span
          >
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/CollectionFavoriteArtists.png" />
          <span (click)="artistroute()">Artists</span>
        </li>
      </ul>
    </div>
    <div class="menubar-options__menuitem">
      <ul>
        <li class="menubar-options__menuitem__group">Discover</li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/MenuDiscover.png " /><span
            >Discover</span
          >
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/DiscoverPodcasts.png" /><span
            >Podcasts</span
          >
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/MenuTrends.png" /><span>Trends</span>
        </li>
      </ul>
    </div>

    <div class="menubar-options__menuitem">
      <ul>
        <li class="menubar-options__menuitem__group">Collection</li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/CollectionLikedSongs.png" /><span
            >Liked Songs</span
          >
        </li>

        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/CollectionLocal.png" /><span
            >Local</span
          >
        </li>
      </ul>
    </div>
    <div class="menubar-options__menuitem">
      <ul>
        <li class="menubar-options__menuitem__group">General</li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/GeneralSettings.png" /><span
            >Settings</span
          >
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/GeneralLogout.png" /><span
            >Logout</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="menubar-container_small">
  <div class="menubar-small-logo">
    <div class="menubar-small-icon">
      <img src="../../../assets/images/MainPlayerLogo.png" />
    </div>
  </div> -->
<!-- <div class="menubar-options">
    <div class="menubar-options__menuitem">
      <ul>
        <li class="menubar-options__menuitem__group">Menu</li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/MenuHome.png" /><span
            (click)="homeroute()"
            >Home</span
          >
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/MenuLibrary.png" /><span
            (click)="songroute()"
            >Songs</span
          >
        </li>

        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/DiscoverDailyMix.png " /><span
            (click)="albumroute()"
            >LikedSongs</span
          >
          <!-- Making this the LikedSongs for now -->
<!-- </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/DiscoverPlaylists.png" /><span
            (click)="playlistroute()"
            >Playlists</span
          >
        </li>
        <li class="menubar-options__menuitem__groupname">
          <img src="../../../assets/images/CollectionFavoriteArtists.png" />
          <span (click)="artistroute()">Artists</span>
        </li>
      </ul>
    </div>
  
</div> -->
-->
<!-- </div> -->
