.menubar-container {
  display: grid;
  grid-template-columns: 1fr;

  @media (max-width: 768px) {
    display: none;
  }

  .menubar-logo {
    margin-bottom: 2rem;
    display: flex;
    color: white;

    .menubar-logo__name {
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 56px;
      margin-left: 8px;

      span {
        color: #ff5656;
      }
    }
  }

  .menubar-options {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #cfc5c5;

    .menubar-options__menuitem {
      margin-bottom: 2.5rem;
      .menubar-options__menuitem__group {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      .menubar-options__menuitem__groupname {
        color: #f6f6f6;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        display: flex;
        margin-bottom: 1rem;
        gap: 1.25rem;

        img {
          width: 20px;
          height: 20px;
        }

        span {
          cursor: pointer;
          transition: transform 0.2s ease-in;

          &:active {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.menubar-container_small {
  display: none;
  @media (min-width: 481px) and (max-width: 768px) {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    color: #f6f6f6;

    .menubar-small-icon {
      margin-left: 1rem;
    }

    .menubar-small__menuitem__group {
      font-weight: 600;
      font-size: 18px;
      line-height: 3rem;
      color: #cfc5c5;
      margin-top: 2rem;
    }

    .menubar-small__menuitem__groupname {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 0.8rem;
      align-self: center;

      span {
        font-size: 12px;
      }
    }
  }
}

.menubar-container_top {
  display: none;
  color: #f6f6f6;
  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .menubar-top-icon {
      img {
        width: 2rem;
        height: 2rem;
      }
    }

    .menubar-top-options__menuitem {
      ul {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .menubar-top__menuitem__group {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
